<h1>Admin::Posts#new</h1>
<%= render 'validation_errors', object: @post %>

<%= form_for [:admin, @post] do |f| %>
	<%= f.text_field :title%>
	<br>
	<br>
	<%= f.text_area :content %>
	<br>
	<br>
	<%= f.check_box :publish %>

	<p>
	<%= f.select :tag_ids, Tag.all.collect { |t| [t.name, t.id]}, {prompt: 'Select Tag'}, multiple: :true%>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>